#nav-drawer .node-visible {
    display: inherit;
}

#nav-drawer .node-hidden {
    display: none;
}

/* Add icon for displaying toggle state: expanded. */
#nav-drawer .list-group-item.node-expanded > div::after {
    content: url([[pix:i/dropdown]]);
    padding-left: 0.2rem;
    vertical-align: sub;
}
/* Add icon for displaying toggle state: collapsed. */
#nav-drawer .list-group-item.node-collapsed > div::after {
    content: url([[pix:t/collapsed]]);
    padding-left: 0.2rem;
    vertical-align: sub;
}

/* Set the cursor style to pointer for the toggling nodes. */
#nav-drawer .list-group-item[data-key|=mycourses],
#nav-drawer .list-group-item[data-key|=localboostnavigationsections] {
    cursor: pointer;
}
